<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<br>
<%= link_to "All jobs", jobs_path %>

<br>
<%= link_to "New Boat", new_boat_path %>
<br>
<br>
<% @boats.each do |boat| %>
	<div class="boat">
		Boat Name: <%= boat.name %>
		<br>
		Number of containers: <%= boat.containers%>
		<br>
		Location: <%= boat.location%>
		<br>
		<button id="jobsboats">New Jobs</button>
		<br>
		<%= link_to "Retire Boat", boat_path(boat), method: :delete, remote: true, class: 'destroy-boat' %>
	</div>
	<br>
<% end %>


